<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Course</title>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"  rel="stylesheet" />
    <link th:href="@{/css/custom.css}" href="/css/custom.css"  rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row text-center">
        <h1>Manage Courses</h1>
    </div>
    <div class="row">
        <form th:object="${course}" th:action="@{savecourse}" action="#" method="post">
            <div class="row">
                <div class="col">
                    <label for="cname">Course Name</label>
                    <input type="text" id="cname" th:field="*{name}" required />
                    <div style="clear: both; display: block; height: 10px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Save"></input>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>