<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Assignments</title>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"  rel="stylesheet" />
    <link th:href="@{/css/custom.css}" href="/css/custom.css"  rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link th:href="@{/css/normalize.css}" href="/css/normalize.css"  rel="stylesheet" />
</head>
<body>
<div class="flex-fix">
    <div class="d-flex flex-column">
        <h1 class="mx-auto my-2" style="font-size: 3rem; font-weight: 300;">Assignments</h1>
        <div class="mx-auto my-2">
            <a class="btn btn-primary" href="/add">Add Assignment</a>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCourseModal">Add Course</button>
        </div>
    </div>
    <hr class="w-50" />
    <div class="d-flex flex-wrap justify-content-center mx-auto w-75">
        <div th:each="assignment : ${assignments}" class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <a class="float-right" th:href="@{/delete/{id}(id=${assignment.id})}">
                    <i class="fas fa-times-circle text-muted"></i>
                </a>
                <h5 th:text="${assignment.assignmentName}" class="card-title"></h5>
                <h6 th:text="${assignment.course.name}" class="card-subtitle mb-2 text-muted"></h6>
                <p th:text="${assignment.description}" class="card-text"></p>
                <a href="#" class="card-link">Mark as Complete</a>
                <a href="#" class="card-link">Modify</a>
            </div>
            <div class="card-footer text-muted">Due on <span th:text="${assignment.dueDate}"></span></div>
        </div>
    </div>
    <hr class="w-50" />
    <div class="d-flex flex-wrap justify-content-center bg-light border">
        <div class="input-group m-2 w-auto ml-auto">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">Filter by Course</button>
            </div>
            <select id="inputCourseSelect" th:field="*{course}" class="custom-select" aria-label="Filter by Course">
                <option th:each="course: ${courses}" th:value="${course.courseid}" th:text="${course.name}"></option>
            </select>
        </div>
        <div class="m-2 mr-auto">
            <button class="btn btn btn-outline-dark">Show Assignments Due Soon</button>
        </div>
    </div>
    
    <!-- Add Course Modal -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form th:object="${course}" th:action="@{savecourse}" action="#" method="post">
                    <div class="modal-body">
                        <label for="cname" class="text-muted">Course Name</label>
                        <input type="text" id="cname" th:field="*{name}" class="form-control" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" type="submit" value="Save"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>