<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Assignments</title>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"  rel="stylesheet" />
    <link th:href="@{/css/custom.css}" href="/css/custom.css"  rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link th:href="@{/css/normalize.css}" href="/css/normalize.css"  rel="stylesheet" />
</head>
<body>
<div class="flex-fix">
<nav class="navbar sticky-top navbar-light bg-light py-0 my-0">
	<p class="navbar-brand">[[${#httpServletRequest.remoteUser}]]</p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-danger btn-sm"/>
	</form>
</nav>
    <div class="d-flex flex-column">
        <h1 class="mx-auto my-2" style="font-size: 3rem; font-weight: 300;">Assignments</h1>
        <div class="mx-auto my-2">
            <a class="btn btn-primary" href="/add">Add Assignment</a>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addCourseModal">Courses</button>
        </div>
    </div>
    <hr class="w-50" />
    <div class="d-flex flex-wrap justify-content-center mx-auto w-75">
        <div th:if="${#lists.isEmpty(assignments)}">
            <p class="lead">You have no assignments.</p>
        </div>
        <div th:each="assignment : ${assignments}" class="card shadow-sm m-2" style="width: 18rem;">
            <div class="card-body">
                <!-- Delete button trigger modal -->
                <button type="button" class="btn btn-danger btn-circle float-right" data-toggle="modal" th:attr="data-target='#deleteModal'+${assignment.id}">
                    <i class="fas fa-times"></i>
                </button>
                
                <!-- Confirm Delete Modal -->
                <div class="modal fade" th:attr="id='deleteModal'+${assignment.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Assignment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete <strong><span th:text="${assignment.assignmentName}"></span></strong>?
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" th:attr="id='/delete/'+${assignment.id}" th:href="@{/delete/{id}(id=${assignment.id})}">Delete</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 th:text="${assignment.assignmentName}" class="card-title"></h5>
                <h6 th:text="${assignment.course.name}" class="card-subtitle mb-2 text-muted"></h6>
                <p th:text="${assignment.description}" class="card-text"></p>
                <a class="btn btn-success btn-sm btn-block card-link" th:href="@{/markasdone/{id}(id=${assignment.id})}" ><i class="fas fa-check-square"></i> Mark as Complete</a><br/>
                <a class="btn btn-secondary btn-sm btn-block card-link" th:href="@{/edit/{id}(id=${assignment.id})}"><i class="fas fa-edit"></i> Edit</a>
            </div>
            <div class="card-footer text-muted">Due <span th:text="${assignment.dueDate}"></span></div>
        </div>
    </div>
    <hr class="w-50" />
    <div class="d-flex flex-wrap justify-content-center bg-light border">
        <form th:action="@{/filter/}" method="post">
        <div class="input-group m-2 w-auto">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">Filter by Course</button>
            </div>
            <select  th:field="${course.courseid}" id="inputCourseSelect" class="custom-select" aria-label="Filter by Course">
                <option th:each="course : ${courses}" th:value="${course.courseid}" th:text="${course.name}"></option>
            </select>
        </div>
        </form>
        <div class="m-2">
            <button class="btn btn btn-outline-dark">Show Assignments Due Soon</button>
        </div>
        <div class="m-2">
            <a href="/completedassignments" class="btn btn btn-outline-success">Show Completed Assignments</a>
        </div>
    </div>
    
    <!-- Courses Modal -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCourseModalLabel">Add/Remove Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <form th:object="${course}" th:action="@{savecourse}" action="#" method="post">
                        <div class="modal-body">
                            <label for="cname" class="text-muted">Course Name</label>
                            <input type="text" id="cname" th:field="*{name}" class="form-control" required />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input class="btn btn-primary" type="submit" value="Save"></input>
                        </div>
                    </form>
                    <div class="mx-auto p-2">
                        <hr />
                        <form class="form-inline" th:action="@{/deletecourse/}" method="post">
                            <div class="input-group mx-2 mb-2">
                                <select class="form-control" th:field="${course.courseid}">
                                    <option th:each="course : ${courses}" th:value="${course.courseid}" th:text="${course.name}"></option>
                                </select>
                            </div>
                            <button class="btn btn-danger mb-2 mx-2 " type="submit">Delete Course</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>